* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #af3333;
  --primary-transparent: rgba(175, 51, 51, 0.4);
  --gray-color: #7f8c8d;
  --dark-color: #2d3436;
  --light-color: #f5f6fa;
  --gradient-color-1: #ffffff;
  --gradient-color-2: #f98c8c;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
  border: 1px solid var(--gray-color);
}

.text-red {
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.w-fit {
    width: fit-content;
    margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  outline: 4px solid transparent;
  border-radius: 4px;

  &:hover {
    outline-color: var(--primary-transparent);
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: var(--primary-color);
}

.new-section {
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  h2 {
    font-size: 1.25rem;
  }

  nav {
    .hamburger {
      display: none;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: var(--dark-color);
        margin: 5px;
        transition: all 0.3s;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      transition: all 0.3s ease-in-out;

      li {
        list-style: none;

        a {
          color: var(--dark-color);
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .new-section {
    padding: 3rem 1rem;
  }

  header {
    padding: 0.5rem 1rem;

    nav {
      .hamburger.active {
        .bar1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      ul {
        position: fixed;
        right: -100%;
        top: 60px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .hamburger {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    nav {
      ul {
        width: calc(100% - 2rem);
        align-items: center;
        margin-left: 1rem;
      }
    }
  }
}

main {
  .hero {
    min-height: calc(100vh - 60px);
    background-image: linear-gradient(
      to bottom,
      var(--gradient-color-1),
      var(--gradient-color-2)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-text {
      font-size: 4rem;
      padding: 1rem;
      font-weight: 700;
      max-width: 768px;
      margin: 1rem auto;

      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    .btn-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
      flex-wrap: wrap;
    }
  }

  .section-title {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;

    &.text-center {
      text-align: center;
      margin: 0 auto 2rem;
    }
  }

  .introduction-content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;

    div {
      width: 60%;
      text-align: justify;

      &.introduction-img {
        width: 35%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;

      div, div.introduction-img {
        width: 100%;
      }
    }

    img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .features-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .feature {
      border: 1px solid var(--gray-color);
      padding: 1rem;
      width: 100%;
      max-width: 300px;
      border-radius: 4px;

      &:hover {
        border-color: var(--primary-color);
      }

      img {
        width: 100px;
      }

      h3 {
        margin: 1rem 0;
      }
    }
  }

  .contact {
    form {
      max-width: 768px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &.double-col {
          flex-direction: row;
          gap: 1rem;

          @media (max-width: 576px) {
            flex-direction: column;
          }

          div {
            width: 100%;
          }
        }
      }

      label {
        font-weight: 600;
      }

      input,
      textarea {
        padding: 0.85rem;
        border-radius: 4px;
        margin: 0.5rem 0;
        font-size: 1rem;
        outline: none;
        caret-color: var(--primary-color);
        resize: none;
        font-family: inherit;

        &:focus {
          border-color: var(--primary-color);
        }
      }

        button {
            font-size: inherit;
            padding: 1rem 2rem;
        }
    }
  }
}

footer {
  background-image: linear-gradient(
    to bottom,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  padding: 2rem 0;
  text-align: center;
}
