* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #af3333;
  --primary-transparent: rgba(175, 51, 51, 0.4);
  --gray-color: #7f8c8d;
  --dark-color: #2d3436;
  --light-color: #f5f6fa;
  --gradient-color-1: #f3f2e7;
  --gradient-color-2: #f98c8c;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
  border: 1px solid var(--gray-color);
}

.text-red {
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  outline: 4px solid transparent;
  border-radius: 4px;

  &:hover {
    outline-color: var(--primary-transparent);
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: var(--primary-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  h2 {
    font-size: 1.25rem;
  }

  nav {
    .hamburger {
      display: none;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: var(--dark-color);
        margin: 5px;
        transition: all 0.3s;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      transition: all 0.3s ease-in-out;

      li {
        list-style: none;

        a {
          color: var(--dark-color);
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem 1rem;
    position: relative;

    nav {
      .hamburger.active {
        .bar1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      ul {
        position: fixed;
        right: -100%;
        top: 60px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .hamburger {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    nav {
      ul {
        width: calc(100% - 2rem);
        align-items: center;
        margin-left: 1rem;
      }
    }
  }
}

main {
  .hero {
    min-height: calc(100vh - 60px);
    background-image: linear-gradient(
      to bottom,
      var(--gradient-color-1),
      var(--gradient-color-2)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-text {
      font-size: 3rem;
      font-weight: 700;
      max-width: 768px;
      margin: 1rem auto;

      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    .btn-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
  }
}
