*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary-color: #af3333;
    --primary-dark-color: #5c1c1c;
    --primary-transparent: rgba(175, 51, 51, 0.733);
    --gray-color: #7f8c8d;
    --dark-color: #2d3436;
    --light-color: #f5f6fa;
    --gradient-color-1: #f3f2e7;
    --gradient-color-2: #f98c8c;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    max-height: 1000px;
    margin: 0 auto;
}

main,
.conatiner{
    display: flex;
}

main{
    flex-direction: row-reverse;
}

.container{
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
}

.text-highlight{
    color: var(--primary-dark-color);
    font-weight: bold;
    text-decoration: none;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-container{
    background-color: var(--primary-color);
    width: 30%;
    color: white;

    .description,
    .image-section,
    .image-section>.background{
        flex-direction: column;
    }

    .header-logo{
        margin-bottom: 3rem;

        .logo{
            font-size: 20px;
            font-weight: 700;
        }
    }

    .description{
        .main-text{
            font-size: 20px;
            font-weight: 600;
            width: 70%;
            text-align: center;
        }

        .secondary-text{
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }

    .image-section{
        position: relative;
        aspect-ratio: 1/1;
        
        .background{
            position: absolute;
            width: 80%;
            height: 70%;
            border-radius: 50%;
            background-color: var(--light-color);
            z-index: 0;
            box-shadow: 1px 1px 30px white
        }
        
        .avatar{
            width: 100%;
            z-index: 1;
        }
    }
}

.login-container{
    width: 70%;

    .container-heading,
    .container-form,
    .container-form>.form-items{
        display: flex;
        flex-direction: column;
    }

    .container-heading{
        margin-bottom: 1rem;
        
        .heading-main{
            color: var(--primary-dark-color);
            margin-bottom: 1rem;
        }
    }

    .container-form{
        gap: 1rem;
        margin-bottom: 5rem;

        .form-items,
        .show-password-box,
        .btn-register,
        .sign-in-box{
            width: 50%;
            font-weight: 500;
        }

        .form-items>input,
        .btn-register{
            padding: 0.5rem;
            border-radius: 4px;
        }

        .form-items{
            .form-label{
                font-size: 1rem;
            }

            input{
                border: 1px solid;
                caret-color: var(--primary-color);
                outline: 2px solid transparent;

                &:focus{
                    outline: 2px solid var(--primary-color);
                    border-color: transparent;
                }
            }
        }
        
        .show-password-box{
            input{
                accent-color: var(--primary-color);
                cursor: pointer;
            }
        }

        .btn-register{
            border: none;
            background-color: var(--primary-color);
            color: white;
            font-family: "Poppins", sans-serif;
            transition: outline 0.1s linear, background-color 0.1s linear;

            &:hover{
                background-color: var(--primary-transparent);
                outline: 1.5px solid black;
                cursor: pointer;
            }
        }

        .sign-in-box{
            .sign-in-desc{
                margin-right: 10px;
            }
        }
    }

    .footer{
        text-align: center;
    }
}

@media (max-width:1024px) and (min-width:550px){
    main{
        flex-direction: column;
    }

    .container{
        width: 100%;
        min-height: fit-content;
    }

    .details-container{
        padding: 1rem;

        .image-section{
            display: none;
        }
    }
}

@media (max-width:550px){
    main{
        flex-direction: column;
    }
    
    .container{
        width: 100%;
        min-height: fit-content;
        font-size: 0.7rem;
    }

    .details-container{
        padding: 1rem;

        .image-section{
            display: none;
        }
    }
        

    .login-container{
        .heading-description{
            text-align: center;
        }

        .container-form{
            margin-bottom: 2rem;

            .form-items,
            .show-password-box,
            .btn-register,
            .sign-in-box{
                width: 100%;
            }
        }

        .footer{
            font-size: 0.7rem;
        }
    }
}

@media (min-height:1000px){
    body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    .container{
        min-height: fit-content;
    }
}