*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary-color: #af3333;
    --primary-dark-color: #5c1c1c;
    --primary-transparent: rgba(175, 51, 51, 0.5);
    --gray-color: #d9d9d9;
    --dark-color: #2d3436;
    --light-color: #f5f6fa;
    --gradient-color-1: #f3f2e7;
    --gradient-color-2: #f98c8c;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    max-height: 1000px;
    margin: 0 auto;
}